# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sythe Veenje
	email = hey@sythe.nl
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/sythe/.netlify/helper/git-config
