[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/plugged/fzf.vim"]
	path = vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim
